body {
  padding: 0;
  margin: 0;
}

html, body, #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height :100% !important;
  z-index: 1;
}

#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#loading .loading-indicator {
  height: auto;
  margin: 0;
}
.navbar .brand {
  font-size: 25px;
  font-family: 'Ubuntu', serif;
  font-weight: bold;
  color: white;
}
.navbar .nav > li > a {
  padding: 13px 10px 11px;
}
.navbar .btn, .navbar .btn-group {
  margin-top: 8px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #f7f7f7;
}
.leaflet-control-geoloc {
  background-image: url(../img/location.png);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.title{
  top:100px;
  left:50px;
  right:50px;
  position: absolute;
  overflow: auto;
  z-index: 2;
  text-align: center;
  padding: -5px;
  text-shadow: 1px 1px #f8f8f8;
  color: #FFF;
}

.title a{
  color:#1860AA;
  text-decoration: none;
}
.nav .active { background:#74BCFC; }
.leaflet-container .leaflet-control-zoom{margin-top: 55px}
.panel.panel-default.floating {
  bottom: 20px;
  left: 15px;
  position: absolute;
  z-index: 1111;
}

.panel.panel-default.floating2 {
  bottom: 10px;
  left: 120px;
  position: absolute;
  z-index: 1111;
}

.panel.panel-default.floating3 {
  bottom: 10px;
  left: 220px;
  position: absolute;
  z-index: 1111;
}

.navbar-brand {
  color: #fff;
}
nav form.navbar-form.navbar-right {
  margin-bottom: 0;
  margin-top: 0;
}
.icon-widget {
  background-color: red;
  background-image: url("../img/pmw.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 29px;
  display: block;
  height: 35px;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 35px;
}

.floating .panel-heading {
  background-color: #02070c;
  color: #fff;
  font-weight: bold;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-top: 5px;
  position: relative;
}
.widget-row {
  position: relative;
}

.icon-heading.icon-widget {
  background-color: #02070c;
  height: 50px;
  right: -30px;
  top: -20px;
  width: 50px;
}
.floating .panel-body {
  background-color: #394756;
  border: medium none;
  color: #fff;
}
.widget-cell {
  float: left;
  font-size: 12px;
  padding: 10px 10px 10px 30px;
  position: relative;
  width: 50%;
}
.icon-up.icon-widget {
  background-color: #C3EB86;
  background-size: 20px auto;
  height: 25px;
  left: 0;
  top: 5px;
  width: 25px;
}
.icon-down.icon-widget {
  background-color: #D52B70;
  background-size: 20px auto;
  height: 25px;
  left: 0;
  top: 5px;
  width: 25px;
}
.icon-pmw.icon-widget {
  background-color: #71C7E2;
  background-size: 20px auto;
  height: 25px;
  left: 0;
  top: 5px;
  width: 25px;
}

.panel-group.floating {
  position: absolute;
  z-index: 1222;
  bottom: 20px;
  left: 15px;
}

p.totalvalue {
    text-align: center;
}
nav.navbar.navbar-fixed-top.navbar-light.bg-faded {
    top: 51px;
    }
